
a,p {
  color: white;
}

input {
  color: white;
}

tr,td {
  color: white;
}

/*

 #816797 TOP
 #2C3333 BLACK BG
 #51557E ROW
 #1B2430 HEADER
 */


.flex-item{
  width: 100%;
  align-self: auto;
  background-color: #2C3333;
}

#header {
color:#D6D5A8;
background-color : #816797;
text-align: center;
font-family:Monospace;
}

h1 {
font-family:Monospace;
color:#D6D5A8;
}


.flex-container {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height:100%;
}


.resultsContainer {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 100%;
  overflow: auto;
}

#flexbody {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}



.centered {
  margin-top:2%;
  background-color:#1B2430;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#buttonHolder {
   padding-top:5px;
   margin-top:5px;
   margin-right:10px;
  float:right;
}

button.mat-raised-button:hover {
    background-color: green;
     height:50px;
    width: 50px;
}

button.mat-raised-button {
    height: 50px;
    width: 50px;
}

#searchContainer {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width:85%;
  border-radius: 2%;
  margin-bottom: 5%;
  margin-top: 10%;
}

mat-form-field {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 70%;
}

table{
 width: 100%;
}

.mat-header-cell {
  background-color: #1B2430;
  color: white;
}

.mat-cell {
    color: white;
}


.mat-row {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: #51557E;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
