
a,p {
  color: black;
}

input {
  color: black;
}

tr,td {
  color: black;
}


.flex-item{
  width: 100%;
  align-self: auto;
  background-color: #e8e7e4;
}

#header {
color:#70AE98;
background-color : #E7CBA9;
}


.flex-container {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height:100%;
}


.resultsContainer {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 100%;
  overflow: auto;
}

#flexbody {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}



.centered {
  margin-top:2%;
  background-color:#ada193;
  width:50%;
  margin-left:25%;
  border-top-left-radius:10%;
  border-top-right-radius:10%;
  border-bottom-left-radius:0%;
  border-bottom-right-radius:0%;
}


#searchContainer {
  background-color: grey;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  border-radius: 2%;
  margin-bottom: 5%;
  margin-top: 10%;
}

mat-form-field {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 70%;
}

table{
 width: 100%;
}

.mat-header-cell {
  background-color: #BBB1A6;
  color: black;
}

.mat-cell {
    color: black;
}

.mat-row {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: #eee8e0;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
